# Demand prediction baseline solution

Отчет:
1. По данным о продажах за 2012-2014 годы предсказать продажи определенных товаров в 2015 году.
2. В ходе изучения данных было установлено, что столбцы 'f[i]' и 'f[i+30]' идентичны для каждой строки исходных данных. В связи с этим выбрасываем половину из них. Более того, обнаружена утечка данных в тестовой выборке: изучение данных показало зависимость между продажами и одной из фич.

Однако с помощью утечки можно спрогнозировать только часть результатов тестовой выборки, оставшуюся часть прогнозируем, обучаясь на тестовой выборке с использованием подходов, указанных ниже.
3. Методы:

    1) Использование метрики качества MAE. В связи с тем, что оценка качества производится с помощью $SMAPE = \frac{200%}{n}\sum_{n=1}^{N}\frac{|y - predict|}{|y| + |predict|}$, было принято решение минимизировать MAE. Это дало некоторое преимущество и улучшило результат.
    
    2) Выбор недель. Тестовые данные относятся только к 3-5 неделям 2015 года. Посколько речь идет о продажах, которые могут зависеть от сезона, возникло предположение, что стоит обучать модель только на той части тренировочной выборки, которая относится к 3-5 неделям. Улучшило результат.
    
    3) Кодирование item_id. Попытка заменить item_id на средние значения тех или иных фич только ухудшила прогноз. Нормировка и взаимодействие со значениями item_id внутри столбца не принесло никаких результатов.
    
    4) Изменение параметров модели. Увеличивая n_estimators и их максимальную глубину, получили несколько переобученную модель, дающую при этом хорошие результаты. Хорошо увеличило качество.
    
    5) Работа со сдвигом. Попытка обучения различных моделей для каждого из сдвигов дала результат несколько хуже, чем приведенная ниже модель.
    
    6) Используем утечку данных. Получаем переобученную на данную утечку модель, которая, тем не менее, дает очень хороший результат на тестовой выборке.
4. Код ниже
5. Приоценке качества использовалась функция SMAPE

In [327]:
import pandas as pd

test = pd.read_csv("test.tsv")
sample_submission = pd.read_csv("sample_submission.tsv")
train = pd.read_csv("train.tsv")
for i in range(31, 61):
    st = 'f' + str(i)
    train = train.drop([st], axis = 1)
    test = test.drop([st], axis = 1)

In [328]:
import numpy as np
import math

fifth_week_nums = []
res = []
m = min(test['item_id'])
M = max(test['item_id'])
test['item_id'] -= m

for i in range(0, len(test['item_id'])):
    if (test['week'][i] != 5):
        item_id = test['item_id'][i]
        week = test['week'][i]
        shift = test['shift'][i]
        num = test['Num'][i]
        for j in range(0, len(test['item_id'])):
                if (test['item_id'][j] == item_id):
                    aim_week = test['week'][j] - test['shift'][j]
                    if (week == aim_week):
                        res.append([num, math.ceil(test['f30'][j] * 1.609999)])
                        break
    else:
        fifth_week_nums.append(test['Num'][i])

In [329]:
print len(res)
frac = 1 # fraction of learning examples used for model fitting
    
#sample the train set if your don't want to deel with all examples
X = train.sample(frac=frac, random_state=42)
#X = X[X['week'].isin([5])]
y = X['y'].copy()
X = X.drop(['Num','y'], axis=1)

1335

In [330]:
def SMAPE(pred, y):
        return float(200) / len(y) * sum(abs(pred - y) / (abs(y) + abs(pred)))

In [331]:
import xgboost as xgb

model = xgb.XGBRegressor(n_estimators=800, max_depth=20, learning_rate=0.05)
model.fit(X, y, eval_metric="mae")

XGBRegressor(base_score=0.5, colsample_bylevel=1, colsample_bytree=1, gamma=0,
       learning_rate=0.05, max_delta_step=0, max_depth=20,
       min_child_weight=1, missing=None, n_estimators=800, nthread=-1,
       objective='reg:linear', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [332]:
preds = model.predict(test[test['week'] == 5].drop(['Num'], axis = 1))
for i in range(0, len(preds)):
    res.append([fifth_week_nums[i], math.ceil(preds[i])])

In [333]:
ind = []
nums = []
y = []
mean = 0
for i in range(0, 2016):
    nums.append(test['Num'][i])
for i in range(0, len(res)):
    ind.append(res[i][0])
    mean += res[i][1]
r = list(set(nums) - set(ind))
print r
mean /= len(res)
for i in r:
    res.append([i, mean])

[350619, 351037, 350572, 351018, 351019, 349900, 349901, 350573, 350866, 350591, 349748, 350590, 351065, 351064, 350420, 349946, 349947, 351036, 350618, 349918, 349919]

In [334]:
res.sort()
y = []
n = []
for i in range(0, len(res)):
    y.append(res[i][1])
    n.append(res[i][0])

In [335]:
# In GBM you can get some negative predictions:

sample_submission['Num']= n
sample_submission['y'] = y

sample_submission

         Num         y
0     348622    1498.0
1     348623   27034.0
2     348624  297561.0
3     348625   29472.0
4     348626      17.0
5     348627  146243.0
6     348628   67736.0
7     348629  111942.0
8     348630  102631.0
9     348631    3542.0
10    348632    1852.0
11    348633   54998.0
12    348634  278980.0
13    348635   21964.0
14    348636    1949.0
15    348637  178791.0
16    348638  121620.0
17    348639  509842.0
18    348640  510745.0
19    348641    2337.0
20    348642  113227.0
21    348643   83469.0
22    348644    1216.0
23    348645   24233.0
24    348646   10950.0
25    348647  150513.0
26    348648    7490.0
27    348649   18667.0
28    348650    5531.0
29    348651   23603.0
...      ...       ...
1986  351499     574.0
1987  351500  232084.0
1988  351501   15701.0
1989  351502   19056.0
1990  351503     271.0
1991  351504     491.0
1992  351505   19403.0
1993  351506     815.0
1994  351507     284.0
1995  351508  103658.0
1996  351509  688723.0
1997  351510  236926.0
1998  351511  515355.0
1999  351512   22850.0
2000  351513    3323.0
2001  351514   29043.0
2002  351515  450448.0
2003  351516  109943.0
2004  351517  181313.0
2005  351518  446277.0
2006  351519     464.0
2007  351520     225.0
2008  351521     420.0
2009  351522     390.0
2010  351523    4960.0
2011  351524   41810.0
2012  351525   18734.0
2013  351526   16794.0
2014  351527     530.0
2015  351528    5008.0

[2016 rows x 2 columns]

In [336]:
sample_submission['y'] = sample_submission['y'].map(lambda x: x if x > 0 else 0.0)

In [337]:
sample_submission.to_csv("baseline_submission.tsv", sep=',', index=False)